@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  z-index: -1;
  position: absolute;
  top: 60%;
  width: 676.44px;
  transform: translate(-50%, -50%);
  /*Centerthegradient*/
  height: 676.44px;
  background: #4557f6;
  filter: blur(252.156px);
  -webkit-filter: blur(252.156px);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.gradient-text-1 {
  background: linear-gradient(-45deg, #218071, #00fff2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* -webkit-filter: blur(26px); */
}
.gradient-text-2 {
  background: linear-gradient(-45deg, #3b856b, #21db81);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* -webkit-filter: blur(26px); */
}
